body {
  background-image: url('../public/images/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'OCR A Std', monospace;
}

@media (max-width: 500px) {
  body {
      background-position: center top;
      background-size: 100% 40%;
  }
}
